*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Raleway', sans-serif;
}
.header{
    background-color: #42a8f6;
    min-height: 940px;
    .nav{
        padding: 45px 0 38px;
        .nav__row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b9dffc;
            padding-bottom: 40px;
            .nav__logo img{
                height: 50px;
            }
        }

        .nav__item a{
            text-decoration: none;
            color: #fff;
            border-color: rgb(3, 5, 5);
            padding: 20px;
            margin-left: 10px;
            
            
        }
        .nav__item a:hover{
                background-color: #4ca3e6;
                border-radius: 8px;
            }
        li{
            list-style-type: none;
        }
        ul .nav__list{
            padding: 0;
            
        }
        .nav__item{
            font-size: 17px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            display: inline-block;
            
        }
        
    }

    
    .modern{
        color: #fff;
        padding-top: 200px;
        z-index: 88;
        
        .modern__heading{
            font-family: serif;
            font-size: 40px;
            margin-bottom: 30px;
        }
        .modern__info{
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            width: 490px;
            margin-bottom: 80px;
        }
        .modern__link {
            color: black;
            font-family: 'Raleway', sans-serif;
            font-size: 23px;
            text-decoration: none;
            background-color: #fff;
            padding: 35px;
            border-radius: 12px;
            padding-left: 80px;
            position: relative;
            transition: 0.5s;
            &:hover{
                background-color: rgb(179, 177, 175);
            }
            &::before{
                content: url('../img/google_play.png');
                padding-left: 1px;
                padding-right: 20px;
                position: absolute;
                top: 55%;
                left: 30px;
                transform: translate(0,-50%);
                
            }
        }
        .modern__link2{
            font-family: 'Raleway', sans-serif;
            color: blanchedalmond;
            margin-left: 30px;
            font-size: 23px;
            text-decoration: none;
            background-color: #4f9edb;
            padding: 35px 80px;
            border-radius: 12px;
            transition: 0.5s;
            &:hover{
                background-color: #3993d8;
                color: #fff;
            }
        }
    }
    .conty{
        position: relative;
        .mobile{
            position: absolute;
            top: -400px;
            left:  225px;
        }
    }
    
}

.servic{
    min-height: 550px;
    background-color: #fff;
    .servic__heading{
        text-align: center;
        margin: 90px 0;
        .servic__heading-text{
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin: 10px;
            color: #8c8d8d;
        }
        .servic__heading-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    .servic__card-img{
        width: 105px;
        text-align: center;
        margin-left: 35%;
    }
    .card-text1{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 20px 0 20px;
    }
    .card-text2{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #858585;
    }
}


.unlimited{
    background-image: url(../img/Flaby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    .down{
        margin-top: 120px;
        .unlimited-text1{
            font-family: 'Raleway', sans-serif;
            font-size: 22px;
            font-weight: 400;
            color: #b3b4b4;
        }
        .unlimited-text2{
            font-family: 'Raleway', sans-serif;
            font-size: 32px;
            font-weight: 400;
            color: #494949;
            margin: 13px 0 13px;
        }
        .card-text2{
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 22px;
            color: #858585;
            max-width: 536px;
            margin-bottom: 35px;
        }
        li{
            text-decoration: none;
            list-style-type: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #858585;
            margin-bottom: 20px;
            position: relative;
            &::before{
                content: url('../img/Ellipse.png');
                position: absolute;
                left: -35px;
                bottom: -5px;
            }
        }
        .btn-sov{
            margin-top: 60px;
            a{
                text-decoration: none;
                color: white;
                background-color: #66d4f4;
                padding: 15px 30px;
                border-radius: 30px;
                transition: 0.4s;
                &:hover{
                    color: #66d4f4;
                    background-color: #fff;
                }
            }
        }
    }
}

.section{
    background-color: #fff;
    min-height: 750px;
    .servic__heading{
        text-align: center;
        margin: 90px 0;
        .servic__heading-text{
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin: 10px;
            color: #8c8d8d;
        }
        .servic__heading-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    .section-head{
        padding-left: 100px;
        .section-text-1{
            font-family: 'Raleway', sans-serif;
            font-size: 28px;
            font-weight: 600;
            color: #494949;
            margin-bottom: 20px;
            
        }
        .icon_lamp{
            position: relative;
            &::before{
                content: url('../img/lampa.png');
                position: absolute;
                left: -49px;
                bottom: -11px;
            }
        }
        .icon_browser{
            position: relative;
            &::before{
                content: url('../img/browser.png');
                position: absolute;
                left: -55px;
                bottom: -7px;
            }
        }
        .icon_game{
            position: relative;
            &::before{
                content: url('../img/game.png');
                position: absolute;
                left: -60px;
                bottom: -8px;
            }
        }
        .icon_resize{
            position: relative;
            &::before{
                content: url('../img/resize.png');
                position: absolute;
                left: -49px;
                bottom: -11px;
            }
        }
        .icon_cart{
            position: relative;
            &::before{
                content: url('../img/cart.png');
                position: absolute;
                left: -55px;
                bottom: -7px;
            }
        }
        .icon_gift{
            position: relative;
            &::before{
                content: url('../img/gift.png');
                position: absolute;
                left: -60px;
                bottom: -8px;
            }
        }
        .section-text-2{
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #858585;
            max-width: 270px;
        }
    }
}
.mockup{
    width: 450px;
    margin-left: 20px;
}
.bg-slide{
    background-image: url(../img/BG.jpg);
    min-height: 755px;
    
    .servic__heading{
        text-align: center;
        padding: 60px 0 100px;
        .servic__heading-text{
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin: 10px;
            color: #8c8d8d;
        }
        .servic__heading-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    .slide__content{
        background-color: #fff;
        width: 720px;
        height: 325px;
        border-radius: 10px;
        // position: relative;
        img{
            // position: absolute;
            top: -53px;
            left: 305px;
        }
        .slide__content-inner{
            font-family: 'Roboto Slab', serif;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding-top: 10px;
        }
        .slide__content-text{
            font-family: 'Roboto Slab', serif;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            color: #929696;
        }
        .slide__content-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            color: #929696;
            padding-top: 30px;
            width: 500px;
        }
    }
    .slider{
        text-align: center; 
        margin-right: auto;
        margin-left: auto;
    }
}

.white{
    background-color: #fff;
    min-height: 400px;
    .white-top{
        margin-top: 160px;
        .white__inner{
            font-family: 'Raleway', sans-serif;
            font-size: 22px;
            font-weight: 400;
            color: #b6b6b6;
        }   
        .white__text{
            font-family: 'Raleway', sans-serif;
            font-size: 32px;
            font-weight: 700;
            color: #494949;margin: 30px 0;
        }
        .white__text2{
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #7c7c7c;
            margin-bottom: 30px;
            width: 453px;
        }
        .white__text3{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #b6b6b6;
            width: 470px;
        }
    }
}
.card-bg{
    background-image: url(../img/pattern.jpg);
    min-height: 1000px;
    .servic__heading{
        text-align: center;
        padding: 60px 0 10px;
        .servic__heading-text{
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin: 10px;
            color: #8c8d8d;
        }
        .servic__heading-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
        .cards-index{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .cards-inner{
                background-image: url(../img/card.jpg);
                width: 325px;
                height: 580px;
                border-radius: 23px;
                margin: 0 45px;
                transition: box-shadow .5s ease-in-out,
                transform .5s ease-in-out;
                &:hover{
                    transform: scale(1);
                    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
                }
                img{
                    padding-left: 120px;
                    padding-top: 45px;
                }
                .text-main{
                    text-align: center;
                    margin-top: 60px;
                    margin-bottom: 17px;
                    font-weight: 700;
                    font-size: 16px;
                }
                p{
                    text-align: center;
                    color: #7c7c7c;
                    font-weight: 500;
                    font-size: 14px;
                }
                a{
                    margin-top: 50px;
                    margin-left: 98px;
                    text-decoration: none;
                    color: white;
                    background-color: #66d4f4;
                    padding: 15px 30px;
                    border-radius: 30px;
                    transition: 0.4s;
                    &:hover{
                        color: #66d4f4;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
.last{
    min-height: 600px;
    background-color: #fff;
    .servic__heading{
        text-align: center;
        padding: 60px 0 10px;
        .servic__heading-text{
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin: 10px;
            color: #8c8d8d;
        }
        .servic__heading-text2{
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    .last-log{
        margin: 65px 0 100px;
        text-align: center;
        .name{
           border-radius: 40px;
           padding: 20px 100px;
           text-align: center;
           color: #7c7c7c;
           font-family: 'Raleway', sans-serif;
            font-size: 14px;
            border: none;
            box-shadow: 5px 13px 20px rgba(53, 53, 53, 0.11);
            margin-bottom: 25px;
        }
        .login{
            border-radius: 40px;
            padding: 20px 100px;
            background-color: #f5fafa;
            text-align: center;
            color: #bbbfbf;
            font-family: 'Raleway', sans-serif;
             font-size: 14px;
             border: none;
             box-shadow: 5px 13px 20px rgba(53, 53, 53, 0.11);
             margin-bottom: 40px;
         }
         a{
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: #66d4f4;
            padding: 20px 140px;
            border-radius: 30px;
            transition: 0.4s;
            &:hover{
                color: #66d4f4;
                background-color: #fff;
            }
         }

    }   
}

.footer{
    min-height: 430px;
    .flaby{
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #7c7c7c;
        padding: 55px 0 80px;
        .flaby-img{
            margin-bottom: 20px;
        }
        .flaby-t{
            max-width: 212px;
            margin-bottom: 20px;
        }
        .local{
            margin-right: 10px;
        }
        .flaby__inner{
            font-weight: 700;
            font-size: 20px;
            color: #494949;
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 10px;
        }
    }
    .copyright{
        color: #7c7c7c;
        font-weight: 500;
        font-size: 14px;
        margin: 25px 30px;
        span{
            padding: 0 15px;
            margin: 0 15px;
            border-left: 1px solid #7c7c7c;
            border-right: 1px solid #7c7c7c;
        }
        a{
            text-decoration: none;
            color: #7c7c7c;
            font-weight: 700;
        }
    }
}